# cache
cache/

# video files
*.mp4

# python
.ipynb_checkpoints
*.h5
*.npy

# binary
*.swp
*.p

# training data for P5
P5_VehicleDetection/data/vehicles/*.png
P5_VehicleDetection/data/non-vehicles/*.png
